global
  maxconn 1000

defaults
  mode http
  log global
  option httplog
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms
  default-server init-addr none

frontend http_front
bind *:8080
mode http
default_backend http_back



backend http_back
  balance roundrobin
  mode http
  option httpchk GET /
  http-check expect status 200

  # Используем DNS-резолвер для разрешения имени web
  server web web:5000 check resolvers docker inter 3000 rise 2 fall 3

# Добавляем секцию resolvers для использования встроенного DNS Docker
resolvers docker
  nameserver dns1 127.0.0.11:53  # встроенный DNS сервер Docker
  resolve_retries 3
  timeout resolve 1s
  timeout retry 1s
  hold other 10s
  hold refused 10s
  hold nx 10s
  hold timeout 10s
  hold valid 10s
  hold obsolete 10s